@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
body{
    //colors
    --text-color: #0F1419;
    --bg-color:#FFFFFF;
    --primary-color:#FF7A00;
    --secondary-color:#F2F2F2;
    --accent-color:#FFBC7F;
    --gradient:linear-gradient(90deg, #FF7A00 0%, #FFBC7F 100%);

    //etc
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 96px 0 256px;
    margin:0;
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    
}
::selection{
    background:var(--accent-color);
    color:var(--bg-color);
}
$maxWidth:1280px;
.header {
    width:100%;
    background:var(--secondary-color);
    height:64px;
    position: fixed;
    top:0;
    z-index:999;
    &__wrapper {
        font-size:24px;
        height:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{

    }
    &__menu{
        display:flex;
        gap:64px;
        height: 100%;
        align-items: center;
    }
    &__login{
        display:flex;
        gap:8px;
        align-items: center;
        font-weight: bold;
    }
    &__login-btn{
        height:48px;
        width:48px;
        background:var(--primary-color);
        border-radius:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease 0s;
        @extend %hover;
    }
}
%hover{
    &:hover{
        transform:scale(1.02);
    }
}
.promote-block {
    margin:0;
    width:100%;
    &__wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:16px;
    }
}
.gradient-text{
    background:var(--gradient);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
button{
    all:unset;
    padding:12px 96px;
    background: var(--primary-color);
    color: var(--bg-color);
    border-radius: 32px;
    font-size:32px;
    transition: transform 0.3s ease 0s;
    @extend %hover;
}
.promote-text{
    h1{
        font-size:48px;
        margin:64px 0;
    }
    p{
        font-size:24px;
        margin:0;
        margin-bottom: 64px;
    }
}

.abstract-figures {
    height:100%;
    display: flex;
    gap:16px;
    position: relative;
    &__row{
        display:flex;
        flex-direction: column;
        gap:16px;
        height: 100%;
        position: relative;
        width:100%;
    }
    #figure1 {
        background: var(--primary-color);
        height:70%;
        width:100%;
        border-radius: 32px;
    }
    #figure2 {
        background: var(--text-color);
        height:30%;
        width:100%;
        border-radius: 32px;
    }
    #figure3 {
        background: var(--secondary-color);
        height:40%;
        width:100%;
        border-radius: 32px;
    }
    #figure4 {
        background: var(--accent-color);
        height:60%;
        width:100%;
        border-radius: 32px;
    }
}
div[class*='__wrapper']{
    max-width: $maxWidth;
    margin-inline:auto;
    position: relative;
    //border:1px solid red;
}

.why-block {
    width:100%;
    margin-bottom:96px;
    &__wrapper {
       
        h1 {
            text-align: center;
            font-size: 48px;
        }
    }
    &__items{
        display:grid;
        width:100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap:32px;
    }
    &__item{
        background:var(--secondary-color);
        border-radius:32px;
        padding:32px 48px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h2{
            font-size:32px;
            font-weight: 200;
            margin:0;
        }
        p{
            font-size:24px;
        }
        img{
            margin:0 0 16px 0;
        }
    }
}
a{
    all:unset;
}
a{
    color:var(--text-color);
    display:inline-block;
    transition: all 0.3s ease 0s;
    cursor:pointer;
    &:hover{
        transform:scale(1.05);
        color:var(--primary-color);
    }
}
.footer {
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    &__wrapper {
        
        height:100%;
        background:var(--text-color);
        color:var(--bg-color);
        border-radius: 32px 32px 0 0;
        display:flex;
        flex-direction: column;
        padding:32px;
        box-sizing: border-box;
        justify-content: space-between;
        gap:48px;
    }
    &__grid{
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap:32px;
    }
    &__logo{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:32px;
        font-weight: 300;
    }
    &__links{
        display: flex;
        flex-direction: column;
        gap:16px;
        h2{
            font-weight: 300;
            margin:0;
        }
        a{
            margin-left:16px;
            color:var(--bg-color);
            display:inline-block;
            transition: all 0.3s ease 0s;
            cursor:pointer;
            max-width:fit-content;
            &:hover{
                transform:scale(1.05);
                color:var(--accent-color);
            }
        }
    }
    &__copyright{
        font-size:16px;
        font-weight: 200;
        position: relative;
        
        &::before{
            content:"";
            border-top:1px solid var(--bg-color);
            width:100%;
            display:block;
            position: absolute;
            top:-16px
        }
    }

}


.table{
    display:grid;
    grid-template-columns: 1fr;
    font-size:24px;
    width: 100%;
    &__label{
        padding:8px 8px;
        background-color:var(--primary-color);
        color:var(--bg-color);
        text-align: left;
        position: relative;
        &.reversed::after{
            content:"";
            height:24px;
            aspect-ratio: 1;
            mask-image:url("../img/icons/sort-down.svg");
            mask-size:cover;
            background:var(--accent-color);
            position:absolute;
            right:16px;
            top:calc(50% - 12px);
        }
        &.unreversed::after{
            content:"";
            height:24px;
            aspect-ratio: 1;
            mask-image:url("../img/icons/sort-up.svg");
            mask-size:cover;
            background:var(--accent-color);
            position:absolute;
            right:16px;
            top:calc(50% - 12px);
        }
        //border-right:1px solid var(--accent-color);
        //border-left:1px solid var(--accent-color);
    }
    &__item{
        padding:8px;
        background:var(--secondary-color);
        //border:1px solid var(--accent-color);
        display: block;
        position: relative;
        &:hover{
            transform: scale(1);
        }
        &.even{
            background:var(--bg-color);
        }
    }
}
.edit{
    mask-image:url("../img/icons/edit.svg");
    background:var(--accent-color);
    mask-size:cover;
    transition: all 0.3s ease 0s;
    &:hover{
        transform: scale(1.05);
        background:var(--primary-color);
    }
    height:32px;
    aspect-ratio: 1;
}
.delete{
    mask-image:url("../img/icons/delete.svg");
    background:var(--accent-color);
    mask-size:cover;
    transition: all 0.3s ease 0s;
    &:hover{
        transform: scale(1.05);
        background:var(--primary-color);
    }
    height:32px;
    aspect-ratio: 1;
}
.actions{
    display:flex;
    position: absolute;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    right:-80px;//last -48px
    top:0;
    @media (max-width: $maxWidth){
        right:0; 
    }
}
.addBtn{
    position: fixed;
    bottom:32px;
    right:32px;
    background: var(--secondary-color);
    width:64px;
    height:64px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:32px;
    z-index:999;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    img{
        transition: all 0.3s ease 0s;
    }
    &:hover{
        transform:scale(1.05);
        img{
            transform:rotate(90deg);
        }
    }
}
.genPDF{
    position: fixed;
    bottom:128px;
    right:32px;
    background: var(--secondary-color);
    width:48px;
    aspect-ratio: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:32px;
    z-index:999;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    img{
        height:32px;
        width:32px;
        transition: all 0.3s ease 0s;
    }
    &:hover{
        transform:scale(1.05);
        img{
            transform:scale(1.2);
        }
    }
}
.inputPopup{
    background:rgba(0,0,0,0.25);
    backdrop-filter: blur(25px);
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index:9999;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.inputForm{
    animation: reveal 0.6s;
    padding:64px 32px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap:16px;
    position: relative;
    h2{
        margin:0;
        text-align: center;
        font-size:48px;
        font-weight: 200;
    }
    input,select{
        font-size:24px;
    }
    label{
        font-size:24px;
    }
    input[type="submit"]{
        all:unset;
        padding:12px 24px;
        background: var(--primary-color);
        color: var(--bg-color);
        border-radius: 32px;
        font-size:32px;
        transition: transform 0.3s ease 0s;
        @extend %hover;
        display:flex;
        justify-content: center;
        margin-top:32px;
    }
    textarea{
        font-size:24px;
    }
    &__close{
        position: absolute;
        top:16px;
        right:16px;
        width:32px;
        aspect-ratio: 1;
        mask-image:url("../img/icons/plus.svg");
        rotate:45deg;
        background:var(--accent-color);
        mask-size:cover;
        z-index:9999;
        transition: all 0.3s ease 0s;
        &:hover{
            transform: scale(1.05);
            background:var(--primary-color);
        }
    }
}
.confirmPopup {
    
    background:rgba(0,0,0,0.25);
    backdrop-filter: blur(25px);
    width:100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index:9999;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    &__content {
        animation: reveal 0.6s;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:32px 64px;
        background: var(--bg-color);
        h2 {
            font-size:32px;
            font-weight: 300;
        }
        .confirm {
            padding: 8px 16px;  
            min-width:25%;
            display: flex;
            justify-content: center;
            background:rgb(223, 37, 37);
        }
        .cancel {
            background: var(--accent-color);
            padding: 8px 16px;
            min-width:25%;
            display: flex;
            justify-content: center;
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
}
@keyframes reveal {
    0%{
        opacity: 0;
        transform:translateY(-32px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }
}
.login{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    &__form{
        border-radius: 32px;
        padding:48px 32px;
        background: var(--secondary-color);
        display: flex;
        flex-direction: column;
        gap:16px;
        position: relative;
        h2{
            margin:0;
            text-align: center;
            font-size:48px;
            font-weight: 200;
        }
        input,select{
            font-size:24px;
        }
        label{
            font-size:24px;
        }
        input[type="submit"]{
            all:unset;
            padding:12px 24px;
            background: var(--primary-color);
            color: var(--bg-color);
            border-radius: 32px;
            font-size:32px;
            transition: transform 0.3s ease 0s;
            @extend %hover;
            display:flex;
            justify-content: center;
            margin-top:16px;
        }
        
    }
}
#backLink{
    position: absolute;
    left:32px;
    top:32px;
    font-size:24px;
}
.loadAnim{
    animation: fadeIn 0.5s reverse;
    position: fixed;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    background: var(--bg-color);
    z-index:50;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
//tables
.tables{
    
    margin:0px 0px 64px;
    &__wrapper{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__name{
        font-size:48px;
        font-weight: 200;
    }
}
.tables-container{
    display:grid;
    grid-template-columns: 1fr;
    gap:24px;
    h1{
        font-size:48px;
        font-weight: 200;
    }
    &__item{
        font-size:32px;
    }
}


.information {
    width:100%;
    margin:0px;
    margin-bottom: 96px;
    .information__name {
        font-size:48px;
        font-weight: 200;
        text-align: center;
      }
    &__wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:32px;
      .information-container {
        padding:32px 24px;
        border-radius: 32px;
        display:flex;
        flex-direction: column;
        gap:16px;
        background: var(--secondary-color);
        position: relative;
        h2 {
            font-size:32px;
            margin:0;
            position: relative;
            z-index: 4;
            
        }
        &__item {
            padding-left:32px;
            font-size: 24px;
        }
      }
    }
  }
.checkContainer{
    position: relative;
    width:32px;
    aspect-ratio: 1;
    & input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        z-index:999;
        width:32px;
        height:32px;
        margin:0;
    }
    &:hover input ~ .checkmarkText {
        transform:scale(1.1);
    }
    
    & input:checked ~ .checkmarkText {
        background-color: var(--primary-color);
        color:var(--bg-color);
    }
}
.checkmarkText {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: var(--secondary-color);
    border-radius: 10%;
    transition: transform 0.3s ease 0s;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.radio-buttons{
    width:100%;
    display:flex;
    justify-content: space-between;
}